html {
    background-color: black;
    z-index: -1;
}

body{
    overflow: hidden;
}

#ui{
    margin:8%;
    margin-top: 5%;
    border-radius: 45px;
    background: transparent;
}

input[type="button"]{
    background: darkred;
    height: 75px;
    margin-top: 10%;
    width: 125px;
    margin-left:5%;
    border-radius: 25px;
    color:black;
    font-weight: bolder;
    font-size: 1.5em;
}

input[type="text"]{
    width: 80%;
    margin-top: 15%;
    margin-bottom: 15%;
    visibility: visible;
    height: 45px;
}


#turn {
    height: 40px;
    width: 160px;
    position: absolute;
    border: 2px solid white;
    border-radius: 35px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
    background: lightsteelblue;
    padding: 8px;
    top: 160px;
    left: 30px;
}
.color{
    height: 60px;
    width: 60px;
    position:absolute;
    border-radius: 50px;
    border:2px solid white;
    padding: 8px;
    padding-top: 20px;
    padding-left: 20px;
}

#pj1{
    background: red;
    top: 225px;
    left: 30px;
}
#pj2{
    background: yellow;
    top: 225px;
    left: 130px;
}

#credits{

    position: absolute;
    top: 400px;
    left: -140px;
    background: white;
    width: 80px;
    border-radius: 50px;
    color:black;
    font-size: 1.2em;

}

#tablero{
    border-radius: 45px;
    margin:0;
    margin-left: 10%;
    margin-top: 3%;
    padding: 2%;
    float: left;
    background-color: mediumblue;
    z-index: 100;
 }

#uicanvas {
    margin-top: 70px;
    margin-left: 130px;
    position: absolute;
    width: 700px;
    height: 100px;
    z-index: 101;
}

.cl{
    padding: 5px;
}

.c0, .c1, .c2, .c3, .c4, .c5{
    height: 72px;
    border-radius:50%;
    background-color: white;
    border: 1px solid black;
    margin-top: 6px;
    -webkit-box-shadow: -6px -5px 0px 0px rgba(50, 50, 50, 0.83);
    -moz-box-shadow:    -6px -5px 0px 0px rgba(50, 50, 50, 0.83);
    box-shadow:         -6px -5px 0px 0px rgba(50, 50, 50, 0.83);

}

#selector{
    margin:0;
    margin-left: 12%;
    padding: 0;
}

.fselected{
    height: 65px;
    width: 75px;
    border: 1px solid white;
    border-radius:50%;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    margin-top: 6px;
    float: left;
}

.fselected:hover{
    background: red;
}

div.popover-content{
    background: lightsalmon;
    font-weight: bolder;

}

