html {
    background-color: black;
}

body{
    overflow: hidden;
}

#tablero{
    width: 690px;
    margin: 0;
    background-color: #0000FF;
    padding: 15px;
    border-radius: 45px;
    float: left;
    margin-left: 15%;
    margin-top: 3%;
}

.cell {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 2px;
    margin-left: 5px;
    float: left;
    border: 1px solid #000000;
    background-color: #ffffff;
}

#menu{
    background: transparent;
}

input[type="button"]{
    background: darkred;
    height: 75px;
    margin-top: 10%;
    width: 125px;
    margin-left:10%;
    border-radius: 25px;
    color:black;
    font-weight: bolder;
    font-size: 1.5em;
}
#iniciar{
    width: 320px;
    height: 200px;
    top: 80px;
    left: 375px;
    position: absolute;
;
}

input[type="text"]{
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom: 15%;
    visibility: visible;
    height: 45px;
}

#turn {
    height: 40px;
    width: 160px;
    position: absolute;
    border: 2px solid white;
    border-radius: 35px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
    background: lightsteelblue;
    padding: 8px;
    top: 160px;
}

.color{
    height: 60px;
    width: 60px;
    position:absolute;
    border-radius: 50px;
    padding: 8px;
    padding-top: 20px;
    padding-left: 20px;
    border:5px solid white;
}

#pj1{
    background: red;
    top: 225px;
}

#pj2{
    background: yellow;
    top: 225px;
    left: 100px;
}

#credits{

    position: absolute;
    top: 400px;
    left: -140px;
    background: white;
    width: 80px;
    border-radius: 50px;
    color:black;
    font-size: 1.2em;

}

div.popover-content{
    background: lightsalmon;
    font-weight: bolder;

}

#ui{
    margin:8%;
    margin-top: 5%;
    border-radius: 45px;
    background: transparent;
}

#uicanvas {
    top:-50px;
    left: 360px;
    position:absolute;
    width: 700px;
    height: 85px;
    z-index: 101;
}
