html {
    background-color: black;
    z-index: -1;
}


body{
    background-color:black;
    overflow: hidden;
    z-index: -1;
}

#ui{
    margin:8%;
    margin-top: 5%;
    border-radius: 45px;
    background: yellowgreen;
}

#menu{
    height: 500px;
    background: darkslateblue;
    border-radius: 40px;
    margin: 2%;
    padding: 2%;

}

#tablero{
    border:2px solid red;
    border-radius: 45px;
    margin-left: 5%;
    margin-top: 3%;
    padding: 2%;
    background: blue;

 }

.c1, .c2, .c3, .c4, .c5, .c6{
    padding: 5px;
}

.f1, .f2, .f3, .f4, .f5, .f6 {
    height: 64px;
    border-radius:50%;
    background: white;
    border: 1px solid black;
    margin-top: 6px;
}

.fselected{
    height: 40px;
    border: 1px solid white;
    margin: 2px;
}

.fselected:hover{
    background: red;
}

#canvasSection{
    position:absolute;
    z-index: 99;}
